:root {
    --bg-color: #fff;
    --bg-transparent: rgba(255, 0, 255, 0);
    --border-color: black;
}

.note {
    font-size: 12px;
    line-height: 20px;
    border: 3px solid var(--border-color);
    background: -webkit-linear-gradient(
        top,
        var(--border-color) 0%,
        var(--border-color) 1px,
        var(--bg-transparent) 1px,
        var(--bg-transparent) 100%
    );
    background: linear-gradient(
        to bottom,
        var(--border-color) 0%,
        var(--border-color) 1px,
        var(--bg-transparent) 1px,
        var(--bg-transparent) 100%
    );
    background-size: 100% 20px;

    white-space: pre-wrap;
    word-break: break-all;
    overflow: auto;

    width: 500px;
    height: auto;
}
