.in-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    border: solid 1px;
    padding-top: 30px;
    margin: 0 auto;
    grid-gap: 30px;
    place-items: center;
}

.in-item{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, minmax(20px, 45px));
}

.book{
    height: 100px;
}


header {
  border-bottom: 1px solid gray;
  padding-left: 20px;
}

footer {
  border-top: 1px solid gray;
  padding: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
    justify-content: center;
}

.content nav {
  border-right: 1px solid gray;
}

.content aside {
  border-left: 1px solid gray;
}

nav{
  flex-basis: 50px;
  flex-shrink: 0;
}

main {
  padding: 10px;
}