@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'S-CoreDream-4Regular', sans-serif !important;
}

#main_wrap {
    background: #5b4331;
    overflow: hidden;
    margin: 0 auto;
}

.main_container {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding: 1rem 0;
}

.in-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    justify-content: center;
    column-gap: 10px;
    height: 550px;
}

.in-item {
    display: grid;
    /*height: 150px;*/
    width: 304px;
    border: solid 3px;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    text-align: center;
}

.in-item_name{
    background: mediumspringgreen;
    grid-column-start: 1;
    grid-column-end: 6;
}

body {
    margin: 0;
}

.main_header {
}

.main-header_title {
    margin: 0 auto;
    font-size: 30px;
}

.main-header_wrap {
    text-align: center;
    height: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table.month {
    background: white;
    text-align: center;
    margin: 0 auto;
    border-collapse: separate;
    border: solid 1px;
    border-spacing: 23px;
}

tr.month {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

ul, ol {
    list-style: none;
}

.nav_ul {
    line-height: 30px;
    text-align: center;
    padding: 0;
}

.nav_item {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}

th.sun, td.sun {
    color: #dc143c;
}

.main-aside-wrap {
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    background-image: url("img/wood.jpg");
}

.main-aside {
    border: white 1px;
    min-width: 400px;
    width: 400px;
    margin-top: 30px;
}

.main-books {
    margin-top: 20px;
}

.book {
    height: 150px;
    width: 60px;
    background: white;
    border: #5b4331 1px;
}

.book:hover {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid gray;
}

footer {
    border-top: 1px solid gray;
    padding: 20px;
    text-align: center;
}


body {
    margin: 0;
}

.main_header {
}

.main-header_title {
    margin: 0 auto;
    font-size: 30px;
}

.main-header_wrap {
    text-align: center;
    height: 80px;
}

.in-item-wrap {
    background-image: url("img/wood.jpg");
}

.content-nav {
    background: #5b4331;
    border: none;
    align-self: center;
    padding: 11px 270px 11px 0;
}

.content-nav-wrap {
    background-image: url("img/wood2.jpg");
}

#go_diary {
    color: black;
}

main {
    padding: 10px;
}
