.in-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    margin: 0 auto;
    place-items: center;
    justify-content: center;
    background: #5b4331;
    column-gap: 120px;
    height: 530px;
    width: 1500px;
}

.in-item{
    display: grid;
    height: 100px;
    width: 150px;
    background: #e2e2e2;
    grid-template-columns: repeat(4, 1fr);
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-nav{
    border: solid 1px;
}

.content-footer{
    margin-top: auto;
}

.content-aside{
    border: solid 1px;
}

.book{
  height: 100px;
    background: white;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid gray;
  padding-left: 20px;
}

footer {
  border-top: 1px solid gray;
  padding: 20px;
  text-align: center;
}


.content-nav{
    background: #5b4331;
    border: none;
    width: 1500px;
    align-self: center;
    color: white;
}

#go_diary{
    color: white;
}

main {
  padding: 10px;
}
