#head {
    border: solid;
    height: 10rem;
    color: red;
    text-align: center;
}
body{
    margin: 0px;
    background-image: url("img/test7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.form-group{
    border: solid;
    height: 2rem;
    color: aqua;
}

.bt{
    border: solid;
    height: 2rem;
    color: black;
}

.login{
    min-width: 200px;
    margin-left: 20rem;
    margin-right: 20rem;
    border: solid;
    height: 10rem;
    color: green;
    text-align: center;
}

#body {
    border: solid;
    height: 10rem;
    color: blue;
    text-align: center;
}