#head {
    border: solid 1px;
    height: 63%;
    /*높이 전체의 63% 비율을 차지하게 하는 명령*/
    margin: 0 auto;
    color: red;
    text-align: center;
}
#main_body{
    margin: 0px;
    background-image: url("img/test7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.bt{
    border: solid 1px;
    height: 2rem;
    color: black;
}

.form_group{
    position: relative;
    border: solid 1px;

}
#msg{                                   /*없는 회원 정보 메시ㅁㄴㅇ지*/
    position: relative;
    background-color: thistle;
    color: black;
    width: 300px;
    height: 23px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
}
#msgRemove{
    width :12px;
    height: 16px;
    color : mediumpurple;
    background-color: white;
}

.login_button{                           /*자물쇠 그림*/
    border: none;
    background:url("img/lock.png");
    height: 100px;
    width: 100px;
    background-size: 89px;       /*이미지 사이즈 줄이기*/
    background-repeat: no-repeat;
    position: relative;
    right: -270px;
    top: -95px;
    transition: all 0.05s linear;
}

.login_button:hover{                      /*그림 마우스 -> 포인트*/
    cursor: pointer;
    transform: scale(1.04);
}

.login{                                   /**/

    border: solid 1px;
    width: 400px;
    bottom: 300px;
    margin: 0 auto;
    color: green;
}

.index_div{
      display: flex;
      justify-content: center; /* flex-start / center / flex-end */
}

.index_user_button{
    padding: 30px 40px;
}


.log_main_div{
    float:right;
}

.log_main_button{
    padding: 10px 10px;
    border: solid 1px;
    outline: 1px;
    background: white;
    width: 76px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}

.log_main_button:hover{
    cursor:pointer;
}

#id_email{
    width: 165px;
    height: 25px;
    position: relative;
    right: -100px;
    top: -8px;
    opacity:0.7;
    border: 1px solid black;
    border-radius: 10px;
}
#id_password{
    width: 165px;
    height: 25px;
    position: relative;
    right: -100px;
    top: -5px;
    opacity:0.7;
    border: 1px solid black;
    border-radius: 10px;
}
.signup_button{
    width: 70px;
    height: 25px;
    position: relative;
    right: -105px;
    top: -103px;
}
a{
    text-decoration-line: none;
    color: black;
}

.calendar_days {
    border: solid 1px;
    display: flex;
    flex-direction: row;
}

.day {
    border: solid 1px;
    text-align: center;
    margin: 0 auto;
}

.dates{
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;

}
.Diary_week {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.Diary_day_read, .Diary_day_write   {
    border: solid 1px;
}

.Diary_day_read > a{
    color: red;
}
.Diary_day_write > a{
    color: green;
}

.calendar_day{
    display: block;
    padding: 38px 38px;
    margin: 0 auto;
    color:green;
}

.calendar_main{
    width: 1100px;
    border: solid 1px;
    margin: 0 auto;
}

.calendar_nav{
    text-align: center;
}