#head {
    border: solid 1px;
    height: 63%;
    /*높이 전체의 63% 비율을 차지하게 하는 명령*/
    margin: 0 auto;
    color: red;
    text-align: center;
}
body{
    margin: 0px;
    background-image: url("img/test7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.bt{
    border: solid 1px;
    height: 2rem;
    color: black;
}

.form_group{
    position: relative;
    border: solid 1px;

}

.login_button{
    /*border:none;*/
    border: solid 1px;
    background:url("img/lock.png");

    height: 100px;
    width: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    position: relative;
    right: -144px;
    top: -78px;
}

.login_button:hover{
    cursor: pointer;
    border: solid 1px;
}

.login{

    border: solid 1px;
    width: 400px;
    bottom: 300px;
    margin: 0 auto;
    border: solid 1px;
    color: green;
}

#content {
    height: 35%;
    border: solid 1px;
    color: blue;
    text-align: center;
}