{% load static %}
{% include 'messages.html'%}
<div class="container">
  <form method="POST" action="{% url 're_password' %}">
    {% csrf_token %}
      <h1>비밀번호 변경</h1>
    현재 비밀번호 :
    <input name="origin_password" required type="password">
    <br><br>
    변경할 비밀번호 :
    <input name="new_password" required type="password">
    <br><br>
    비밀번호 확인 :
    <input name="confirm_password" required type="password">
    <br><br>
    <input class="btn btn-primary" type="submit" value="변경">
  </form>
</div>
