<!DOCTYPE html>
<html lang="ko-kr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "diary_style.css" %}">
    <title>Title</title>
</head>
<body>
<div>
    {% include 'logtout&main.html'%}
    <form action="{% url 'DiaryEdit' datas.diary_cnt %}" method="post">
        {% csrf_token %}
        <div>
            <p>
                다이어리 날짜:{{ datas.diary_date }}
            </p>
            <pre class="note">
                {{ datas.content }}
            </pre>
            <p>
                최종 수정 날짜: {{ datas.edit_date }}
            </p>
            <button name="edit_button">수정하기</button>
        </div>
    </form>
    <form action="{% url 'DiaryErase' datas.diary_cnt %}" method="post">
        {% csrf_token %}
        <button class="erase_button">삭제하기</button>
    </form>
</div>

</body>
</html>