<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>다이어리</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>Title</title>
</head>
<body>

<a href="{% url 'DiaryWrite' %}">다이어리 쓰기</a>
<div class="calendar">
    <div class="calendar_head">
        <div class="ym-wrapper">
            <span class="year">{{ times.year }}</span>년
            <span class="month">{{ times.month }}</span>월
            <span class="day">{{ times.day }}</span>일
        </div>
    </div>
    <div class="calendar_main">
        <div class="calendar_days">
            <div class="day">일</div>
            <div class="day">월</div>
            <div class="day">화</div>
            <div class="day">수</div>
            <div class="day">목</div>
            <div class="day">금</div>
            <div class="day">토</div>
        </div>
        <div class="dates">
            {% for j in "x"|rjust:"30" %}
                <div class="Diary_day{{ i }}{{ j }}">
                    <form action="{% url 'DiaryRead' 2022 01 forloop.counter %}" method="post">
                        {% csrf_token %}
                        <button name="input_num">{{ forloop.counter }}</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>