<!DOCTYPE html>
<html lang="ko">

<head style='border:solid'>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>

<body>
    <div id="head">
        {% include 'messages.html'%}
        <p>#head</p>
    </div>
    <div id="body">
        <p>#body</p>
        {% include "login.html" %}
        <button class="signup_button"><a href="{% url 'signup' %}">회원가입</a></button>

        <button class="change_password_button"><a href="{% url 're_password' %}">비밀번호 변경</a></button>
    </div>
</body>

</html>