<!DOCTYPE html>
<html lang="ko">

<head style='border:solid'>
    {% load static %}
    <meta charset="UTF-8">
    <title> 메인화면 </title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>

<body id="main_body">
    <div id="message">{% include 'messages.html'%}</div>
    <div id="head">
        <div class="head_main">
            <a class="index_msg">감사 노트</a>
        </div>
        <div class="head_sub">
            <p>오늘 하루 <br>감사함을 나눠보세요</p>
            <p></p>
        </div>
    </div>
    <div id="body">
        <p>#body</p>

        {% if request.user.is_authenticated %}

            <div class="index_div">
                <button class="index_user_button" onclick="location.href={% url 'logout' %}">로그아웃</button>
                <button class="index_user_button" onclick="location.href={% url 're_password' %}">비밀번호 변경</button>
                <button class="index_user_button" onclick=location.href="{% url 'main' %}">MAIN</button>
            </div>

        {% else %}
            {% include "login.html" %}

        {% endif %}
    </div>
</body>

</html>