<div class="login">
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-email">
                <input type="email" name="email" class="form-control" required id="id_email" placeholder="ID"
                       maxlength="41">
            </div>
            <div class="form-pwd">
                <input type="password" name="password" class="form-control" required id="id_password" placeholder="PW">
            </div>
            <div class="keep_check">
                <input type="checkbox" id="keep" name="nvlong" class="input_keep" value="off">
                <label for="keep" class="keep_text">로그인 상태 유지</label>
            </div>
            <div class="login_btn">
                <div><button type="submit" class="login_button"></button></div>
                <div class="key_img"></div>
            </div>
            <div class="signup">
                <a href="{% url 'signup' %}">아이디 찾기</a>
                <a href="{% url 'signup' %}">비밀번호 찾기</a>
                <a href="{% url 'signup' %}">회원가입</a>
            </div>
        </form>
    </div>
</div>
