{% load static %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static "style.css" %}">
<div class="log_main_div">
    <div>
        <a class="log_main_button" href="{% url 'userprofile' %}">{{ user.name }} 님</a>
    </div>
    <div>
        <a href="{% url 'logout' %}">
            <button class="log_main_button">로그아웃</button>
        </a>
    </div>
    <div>
        <a href="{% url 'index' %}">
            <button class="log_main_button">index</button>
        </a>

    </div>
</div>
