<html>
<head>
    {% include 'logtout&main.html' %}
</head>
<body>
<div class="container">
    <header>
        {% load static %}
        <link rel="stylesheet" href="{% static "main_style.css" %}">
        <h1>{{ book_year }}</h1>
        <form action="{% url 'main' %}" method="post">
            {% csrf_token %}
            <button type='submit' name='book_year' value='{{ book_year }}_left'
                    class="nav-btn go-prev"> <
            </button>
        </form>
        <form action="{% url 'main' %}" method="post">
            {% csrf_token %}
            <button type='submit' name='book_year' value='{{ book_year }}_right'
                    class="nav-btn go-prev"> >
            </button>
        </form>
    </header>
    <section class="content">
        <nav>
            <a href="{% url 'Diary' %}">다이어리 가기</a>
        </nav>
        <main>
            <div class=in-container>
                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in datas_1 %}
                            <button class="book"><br>{{ forloop.counter }}주<br>{{ cnt }}</button>
                        {% endfor %}
                    </div>
                </form>

                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in datas_2 %}
                            <button class="book"><br>{{ forloop.counter }}주<br>{{ cnt }}</button>
                        {% endfor %}
                    </div>
                </form>

                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in datas_3 %}
                            <button class="book"><br>{{ forloop.counter }}주<br>{{ cnt }}</button>
                        {% endfor %}
                    </div>
                </form>

                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in datas_4 %}
                            <button class="book"><br>{{ forloop.counter }}주<br>{{ cnt }}</button>
                        {% endfor %}
                    </div>
                </form>

                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in datas_5 %}
                            <button class="book"><br>{{ forloop.counter }}주<br>{{ cnt }}</button>
                        {% endfor %}
                    </div>
                </form>

                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in datas_6 %}
                            <button class="book"><br>{{ forloop.counter }}주<br>{{ cnt }}</button>
                        {% endfor %}
                    </div>
                </form>

                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in datas_7 %}
                            <button class="book"><br>{{ forloop.counter }}주<br>{{ cnt }}</button>
                        {% endfor %}
                    </div>
                </form>

                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in datas_8 %}
                            <button class="book"><br>{{ forloop.counter }}주<br>{{ cnt }}</button>
                        {% endfor %}
                    </div>
                </form>

                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in datas_9 %}
                            <button class="book"><br>{{ forloop.counter }}주<br>{{ cnt }}</button>
                        {% endfor %}
                    </div>
                </form>

                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in datas_10 %}
                            <button class="book"><br>{{ forloop.counter }}주<br>{{ cnt }}</button>
                        {% endfor %}
                    </div>
                </form>

                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in datas_11 %}
                            <button class="book"><br>{{ forloop.counter }}주<br>{{ cnt }}</button>
                        {% endfor %}
                    </div>
                </form>

                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in datas_12 %}
                            <button class="book"><br>{{ forloop.counter }}주<br>{{ cnt }}</button>
                        {% endfor %}
                    </div>
                </form>

            </div>
        </main>
        <aside>
            AD
        </aside>
    </section>
    <footer>
        <a href="https://opentutorials.org/course/1">홈페이지</a>
    </footer>
</div>
</body>
</html>

