<html>
<head>
    {% include 'logtout&main.html' %}
</head>
<body>
<div class="container">
    <header>
        {% load static %}
        <link rel="stylesheet" href="{% static "main_style.css" %}">
        <h1>{{ book_year }}</h1>
        <form action="{% url 'main' %}" method="post">
            {% csrf_token %}
            <button type='submit' name='book_year' value='{{ book_year }}_left'
                    class="nav-btn go-prev"> <
            </button>
        </form>
        <form action="{% url 'main' %}" method="post">
            {% csrf_token %}
            <button type='submit' name='book_year' value='{{ book_year }}_right'
                    class="nav-btn go-prev"> >
            </button>
        </form>
    </header>
    <section class="content">
        <nav class="content-nav">
            <div class="go_to_diary">
                <a id="go_diary" href="{% url 'Diary' %}">다이어리 가기</a>
                <a id="go_diary" href="{% url 'DiarytestWrite' %}">|| 다이어리 테스트</a>
            </div>
        </nav>
        <div class=in-container>
            {% for value in datas %}
                <form action="{% url 'decorate_note' %}" method="post">
                    {% csrf_token %}
                    <div class="in-item">
                        {% for cnt in value.get_weekcnt%}
                            {% if cnt == 0 %}
                                <button class="book" style="visibility: hidden">
                                    <br>{{ forloop.counter }}주<br>{{ cnt }}
                                </button>
                            {% else %}
                                <button class="book" style="visibility: visible">
                                    <br>{{ forloop.counter }}주<br>{{ cnt }}
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
                </form>
            {% endfor %}
        </div>
    </section>
    <footer class="content-footer">
        <div>
            foot
        </div>
    </footer>
</div>
</body>
</html>

