<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "main_style.css" %}">
    {% include 'logtout&main.html' %}
</head>
<body>
<div class="main_container">
    <div class="main-header_wrap">
        <a class="main-header_title">{{ user.name }} 님의 {{ book_year }}년 서재</a>
    </div>
    <div class="content-nav-wrap">
        <div class="group_nav">
            <ul class="nav_ul">
                <li class="nav_item">
                    <a id="go_diary" href="{% url 'Diary' %}">다이어리 가기</a>
                </li>
                <li class="nav_item">
                    <a id="go_diary" href="{% url 'DiarytestWrite' %}">다이어리 테스트</a>
                </li>
            </ul>
        </div>
    </div>
    <section id="main_wrap">
        <div class="main-aside-wrap">
            <aside class="main-aside">
                <div class="calendar_view">
                    {% autoescape off %}
                        {{ calendar }}
                    {% endautoescape %}
                </div>
                <div class="calendar_nav">
                    <a href="{% url 'decorate_note' %}">노트 이동</a>
                </div>
            </aside>
            <div class="main-books">
                <div class="control_book">
                    <form action="{% url 'main' %}" method="post">
                        {% csrf_token %}
                        <button type='submit' name='book_year' value='{{ book_year }}_left'
                                class="nav-btn go-prev"> <
                        </button>
                        <button type='submit' name='book_year' value='{{ book_year }}_right'
                                class="nav-btn go-prev"> >
                        </button>
                    </form>
                </div>
                <div class="books_view">
                    <form action="{% url 'main' %}" method="post">
                        {% csrf_token %}
                        <main class="in-container">
                            {% for value in datas %}
                                <div class="in-item">
                                    <div class="in-item_name">{{ forloop.counter }}월</div>
                                    {% for cnt in value.get_weekcnt %}
                                        {% if cnt == 0 %}
                                            <div class="in-item-wrap">
                                                <a class="book" style="visibility: hidden">
                                                    <button name="calendar_load" class="book" type="submit"
                                                            value={{ value.get_year }},{{ value.get_month }},{{ forloop.counter }}>
                                                        <br>{{ forloop.counter }}주<br>{{ cnt }}
                                                    </button>
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="in-item-wrap">
                                                <a class="book" style="visibility: visible">
                                                    <button name="calendar_load" class="book" type="submit"
                                                            value={{ value.get_year }},{{ value.get_month }},{{ forloop.counter }}>
                                                        <br>{{ forloop.counter }}주<br>{{ cnt }}
                                                    </button>
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </main>
                    </form>
                </div>

            </div>

        </div>
    </section>
    <footer class="content-footer">
        <div>
            foot
        </div>
    </footer>
</div>
</body>
</html>

